@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: auto;
  background-color: #eee;
  font-family: "Roboto Condensed", sans-serif; }

img {
  display: block;
  max-width: 100%; }

.main {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 30px 0 40px rgba(0, 0, 0, 0.1), -30px 0 40px rgba(0, 0, 0, 0.1); }

@media screen and (min-width: 480px) {
  #landing-section {
    display: flex;
    height: 100%; } }

.cabecera__contenedor {
  background-color: #fff;
  flex: 0 1 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  padding-left: 1rem;
  padding-right: 1rem; }
  @media screen and (min-width: 480px) {
    .cabecera__contenedor {
      height: 100vh; } }
  .cabecera__contenedor__contenido__h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-variant: small-caps; }
  .cabecera__contenedor__contenido__h2 {
    font-weight: 400;
    font-size: 2rem; }
  .cabecera__contenedor__contenido__h3 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #888;
    margin-bottom: 1rem; }
  .cabecera__contenedor__contenido__boton {
    display: inline-block;
    padding: 0.5rem 2rem;
    border: 1px solid #ccc;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: all 500ms ease; }
    @media screen and (min-width: 768px) {
      .cabecera__contenedor__contenido__boton {
        padding: 1rem 3rem; } }
    .cabecera__contenedor__contenido__boton:hover {
      background-color: #888;
      color: #fff; }
.cabecera__imagen {
  background: url("https://source.unsplash.com/De8wMYoSSBc");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 1 60vw;
  height: 50vh; }
  @media screen and (min-width: 480px) {
    .cabecera__imagen {
      height: 100vh; } }

.imagenes__header {
  padding: 1.5rem;
  text-align: center;
  background-color: #333;
  color: #fff; }
  .imagenes__header__h2 {
    font-weight: 400;
    font-size: 1.2rem;
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem; }

.caption {
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  text-align: center; }

.footer {
  padding: 2rem 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #333; }
  .footer__cabecera {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    color: #888; }
  .footer__texto {
    margin-bottom: 0.5rem; }
  .footer__correo {
    margin-bottom: 0.5rem; }

/*# sourceMappingURL=estilos.css.map */
