@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
$fuente-principal: 'Roboto Condensed', sans-serif;
$color-bg: #eee;
$color-light: #fff;
$color-enfasis: #888;
$color-borde: #ccc;
$color-link: #333;
$color-dark: #333;
$color-hover: #f4f4f4;
$bk-cellphone-landscape: 480px;
$bk-tablet: 768px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  background-color: $color-bg;
  font-family: $fuente-principal;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 30px 0 40px rgba(0,0,0,.1), -30px 0 40px rgba(0,0,0,.1);
}

#landing-section {
  @media screen and(min-width: $bk-cellphone-landscape) {
    display: flex;
    height: 100%;
  }
}

.cabecera {
  &__contenedor {
    background-color: $color-light;
    flex: 0 1 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    padding-left: 1rem;
    padding-right: 1rem;
    @media screen and(min-width: $bk-cellphone-landscape) {
      height: 100vh;
    }

    &__contenido {
      &__h1 {
        font-weight: 400;
        font-size: 2.5rem;
        text-transform: capitalize;
        font-variant: small-caps;
      }

      &__h2 {
        font-weight: 400;
        font-size: 2rem;
      }

      &__h3 {
        font-weight: 400;
        font-size: 1.2rem;
        color: $color-enfasis;
        margin-bottom: 1rem;
      }

      &__boton {
        display: inline-block;
        padding: 0.5rem 2rem;
        border: 1px solid $color-borde;
        border-radius: 50px;
        text-decoration: none;
        color: $color-link;
        transition: all 500ms ease;
        @media screen and(min-width: $bk-tablet) {
          padding: 1rem 3rem;
        }

        &:hover {
          background-color: $color-enfasis;
          color: $color-light;
        }
      }
    }
  }

  &__imagen {
    background: url("https://source.unsplash.com/De8wMYoSSBc");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 1 60vw;
    height: 50vh;
    @media screen and(min-width: $bk-cellphone-landscape) {
      height: 100vh;
    }
  }
}

.imagenes {
  &__header {
    padding: 1.5rem;
    text-align: center;
    background-color: $color-dark;
    color: $color-light;

    &__h2 {
      font-weight: 400;
      font-size: 1.2rem;
      border-left: dotted 1px $color-light;
      border-right: dotted 1px $color-light;
      display: inline-block;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}

.caption {
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  text-align: center;
}

.footer {
  padding: 2rem 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: $color-dark;

  &__cabecera {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    color: $color-enfasis;
  }

  &__texto {
    margin-bottom: 0.5rem;
  }

  &__correo {
    margin-bottom: 0.5rem;
  }
}
