<h3 class="footer__cabecera">Contacto</h3>
<p class="footer__texto">Un correo o una llamada para ponernos en contacto:</p>
<p class="footer__correo"><strong>contacto@joe-gillis.com</strong></p>
<p class="footer__telefono"><strong>+34 666 666 666</strong></p>