- for (let  i = 0; i < 5; i++)
    .imagenes__item
        .imagen_contenedor
            - let imagen = ['https://source.unsplash.com/1600x900/?nature', 'https://source.unsplash.com/1600x900/?city', 'https://source.unsplash.com/1600x900/?people','https://source.unsplash.com/1600x900/?architecture', 'https://source.unsplash.com/1600x900/?wedding']
            img(src=imagen[i] alt=altImagen)
        .caption
            - let nombreImagen = ['Naturaleza', 'Imagen urbana', 'Gente del mundo', 'Arquitectura', 'Bodas y celebraciones']
                h3.caption__cabecera= nombreImagen[i]
            -let pieImagen = ['Una imagen natural y paisajística', 'Sex and the City', 'All around the world', 'La simple belleza de las líneas arquitéctónicas', 'Some weddings and no funeral' ]
                p.caption__texto= pieImagen[i]
