- const tituloPagina = 'Joe Gillis || Fotógrafo'
- const descripcion = 'La web de Joe Gillis, un profesional de la fotografía que aporta una mirada personal a todo momento, escenario y oportunidad'
- const altImagen = 'Imagen por Joe Gillis, Fotógrafo'