include config/config

doctype html
html(lang='es')
    head
        include ./includes/head
    body
        main.main
            section#landing-section
                .cabecera__contenedor
                    .cabecera__contenedor__contenido
                       h1.cabecera__contenedor__contenido__h1 Joe Gillis 
                       h2.cabecera__contenedor__contenido__h2 Fotógrafo
                       h2.cabecera__contenedor__contenido__h3 Una mirada personal
                       a#boton.cabecera__contenedor__contenido__boton(href="#imagenes") Trabajos
                .cabecera__imagen
            section#imagenes
                .imagenes__header
                    h2.imagenes__header__h2 Trabajos
                .imagenes__contenedor
                    include ./includes/imagenes-item
        footer.footer
            include ./includes/footer
        script(src="js/script.js")